# Keys
.env
*.env
config.json


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
.env.*
venv/

# VSCode
.vscode/

# DBT
dbt_modules/
dbt_packages/

# MinIO
minio/data/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/venv/

# Superset
superset_home/
