# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
requests
python-dotenv
pandas
boto3 # to interact with MinIO from Python
websockets
minio
apache-airflow-providers-airbyte
dbt-core
#dbt-postgres
pandas
sqlalchemy
psycopg2-binary
astronomer-cosmos
dbt-postgres